.form__add {
   
    display: flex;
    justify-content: center;
    
    margin-top: 30px;
    
}

.form__input {
    border: 0;
    outline: 1px solid rgb(5, 5, 5);
    font-size: 1rem;
    border-radius: 10px;
    width: 100%;
}

.btn {
    margin-left: 10px;
    font-size: 1rem;
    border-radius: 10px;
    padding: 15px;
    outline: 1px solid rgb(5, 5, 5);
    transition: all 0.2s ease-out;

    &:hover,&:focus{
        background-color: rgb(36, 22, 230);
        color: white;
        outline: 1px solid white;
    }
    &:active {
        translate: 0 2px;
    }
}